<style>
  body{
    position:absolute;
    top:-300px;
    left: 10px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $(document).foundation();
  })
</script>
<body>

  <div id="newschool" style="padding:400px">
    <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
      <div style="background:#eee;padding:100px;border:solid #eee;box-shadow:0px 0px 3px #eee">
      <h1 align="center">用户注册</h1>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <legend><h4><h4></legend>

            <label><h5><%= f.label :用户名： %></h5>
              <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
            </label>

            <label><h5> <%= f.label :密码 %><h5>
              <% if @minimum_password_length %>
              <em>(最少 <%= @minimum_password_length %> 位数)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </label>

            <label><h5><%= f.label :确认密码 %></h5>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            <label>

            <label>
            </label>

            <table  align="center">
              <tr>
                <td style="color:red">    <%= f.submit "提交" %></td>
              </tr>
            </table>
          <% end %>
        <section>
          <%= render "devise/shared/links" %>
    </div>
  </div>
</body>
